<header id="header" class="subheader fixed-top">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="index.html">
                <span class="logo-white"><img src="assets/images/logo.png" alt="" class="img-fluid"></span>
            </a>
            <div class="ml-auto">
                <a href="#" class="btn btn-outline-light">Sign In</a>
                <a href="#" class="btn btn-warning">Sign Up</a>
            </div>
        </div>
    </nav>
</header>
<section class="section-content" style="padding: 60px 0 0 0;">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <div class="form-box">
                    <h3 class="text-center">Welcome Back</h3>
                    <h5 class="text-center">Sign in to Aurum Academy</h5>
                    <div class="social-login">
                        <a (click)="signInWithFB('facebook')" class="login-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook</a>
                        <a (click)="signInWithGoogle()" class="login-gmail"><i class="fa fa-google" aria-hidden="true"></i> Login with Gmail</a>
                    </div>
                    <div class="or">
                        <span>OR</span>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.email " name="email " #email="ngModel" class="form-control" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group text-right">
                        <a href="#">Forgott Password</a>
                    </div>
                    <div class="form-group">
                        <button (click)="logindd();" value="Login" class="btn btn-warning btn-block">Login</button>
                        <button id="openModalUserButton" (click)="addModel.show();" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
                        <button id="openModalButton" (click)="socialModel.show();" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
                        <button id="openModalsubUserButton" (click)="subModel.show();" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
                    </div>
                    <div class="login-register-link text-center">Don’t have an account? <a href="#">Sign Up</a></div>
                </div>
            </div>
            <div class="col-sm-7 login-register-image">
            </div>
        </div>
    </div>
</section>

<!--
========================================================
			FOOTER SECTION
========================================================
-->
<footer class="section section-footer">
    <div class="sitemap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <h4>Subject</h4>
                    <ul>
                        <li><a href="#">Arts and Humanities</a></li>
                        <li><a href="#">Languages</a></li>
                        <li><a href="#">Math</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Social Science</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="#">Diagrams</a></li>
                        <li><a href="#">Flashcards</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Premium Content</a></li>
                        <li><a href="#">Partnerships</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Honor Code</a></li>
                        <li><a href="#">Community Guidelines</a></li>
                        <li><a href="#">Students</a></li>
                        <li><a href="#">Teachers</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4>About</h4>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2020 Aurum Academy
                </div>
                <div class="col-sm-6">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Simple login -->
<div bsModal #addModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header appoint-head-color">
                <h4 class="modal-title appoint-color"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Select Type</h4>
                <button type="button" class="close" (click)="addModel.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div class="form-group"> -->
                            <label for="select1">Select UserType</label>
                            <fieldset>
                                <!-- {{types | json}} -->
                                <ng-select name="user_type" [(ngModel)]="userType.user_type" #user_type="ngModel" placeholder="Select user_type" [options]="types" [allowClear]="true"></ng-select>
                            </fieldset>
                            <!-- </div> -->
                            <!-- <div *ngIf="slug_type=='Teacher'">
                                <div class="form-group">
                                    <label for="name">Slug URL</label>
                                    <input class="form-control" id="name" type="text" [(ngModel)]="userType.url_slug" #url_slug="ngModel" name="url_slug" placeholder="Enter Slug URL">

                                </div>
                            </div> -->

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)=" addModel.hide()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addUserType();addModel.hide()">Save</button>
                    <!-- <button type="button" (click)="updateLesson();addModel.hide()" *ngIf="lesson.id != null" class="btn btn-primary">Update
                        </button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Social Login -->

<div bsModal #socialModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header appoint-head-color">
                <h4 class="modal-title appoint-color"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Select Type</h4>
                <button type="button" class="close" (click)="socialModel.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div class="form-group"> -->
                                <label for="select1">Select UserTypdasdase</label>
                                <fieldset >
                                    <ng-select name="user_type" [(ngModel)]="userType.user_type" #user_type="ngModel" placeholder="Select user_type" [options]="types" [allowClear]="true"></ng-select>
                                </fieldset>
                            <!-- </div> -->
                            <!-- <div *ngIf="slug_type=='Teacher'" class="form-group">
                                <label for="name">Slug URL</label>
                                <input class="form-control" id="name" type="text" [(ngModel)]="userType.url_slug" #url_slug="ngModel" name="url_slug" placeholder="Enter Slug URL">

                            </div> -->

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)=" socialModel.hide()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addsocialUserType();socialModel.hide()">Save</button>
                    <!-- <button type="button" (click)="updateLesson();addModel.hide()" *ngIf="lesson.id != null" class="btn btn-primary">Update
                        </button> -->
                </div>
            </div>
        </div>
    </div>
</div>