<header id="header" class="subheader fixed-top">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="index.html">
                <span class="logo-white"><img src="assets/images/logo.png" alt="" class="img-fluid"></span>
            </a>
            <div class="ml-auto">
                <a href="#" class="btn btn-outline-light">Sign In</a>
                <a href="#" class="btn btn-warning">Sign Up</a>
            </div>
        </div>
    </nav>
</header>
<section class="section-content" style="padding: 60px 0 0 0;">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <div class="form-box">
                    <h3 class="text-center">Welcome Back</h3>
                    <h5 class="text-center">Sign in to Aurum Academy</h5>
                    <div class="social-login">
                        <a href="#" class="login-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook</a>
                        <a href="#" class="login-gmail"><i class="fa fa-google" aria-hidden="true"></i> Login with Gmail</a>
                    </div>
                    <div class="or">
                        <span>OR</span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group text-right">
                        <a href="#">Forgott Password</a>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-warning btn-block">
                    </div>
                    <div class="login-register-link text-center">Don’t have an account? <a href="#">Sign Up</a></div>
                </div>
            </div>
            <div class="col-sm-7 login-register-image">
            </div>
        </div>
    </div>
</section>

<!--
========================================================
			FOOTER SECTION
========================================================
-->
<footer class="section section-footer">
    <div class="sitemap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <h4>Subject</h4>
                    <ul>
                        <li><a href="#">Arts and Humanities</a></li>
                        <li><a href="#">Languages</a></li>
                        <li><a href="#">Math</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Social Science</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="#">Diagrams</a></li>
                        <li><a href="#">Flashcards</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Premium Content</a></li>
                        <li><a href="#">Partnerships</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Honor Code</a></li>
                        <li><a href="#">Community Guidelines</a></li>
                        <li><a href="#">Students</a></li>
                        <li><a href="#">Teachers</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4>About</h4>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2020 Aurum Academy
                </div>
                <div class="col-sm-6">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>