<section class="main-bg" style="background-image:url(assets/images/background-main.jpg);">

    <header id="header" class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" href="index.html">
                    <span class="logo-white"><img src="assets/images/logo.png" alt="" class="img-fluid"></span>
                </a>
                <div class="ml-auto">
                    <a href="#" routerLink="/login" class="btn btn-outline-light">Sign In</a>
                    <a href="#" routerLink="/register" class="btn btn-warning">Sign Up</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="slider-text-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="slider-text text-center">
                        <h1>Lorem ipsum dolor sit amet consectetur adipiscing elit set do eiusmod</h1>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</h4>
                        <a href="#" class="btn btn-warning btn-lg">Create a flashcard study set</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<!--
    ========================================================
            SLIDER SECTION
    ========================================================
    -->


<section class="section-info py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading text-center">
                    <h2>Better learning. Better results.</h2>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Labore quibusdam esse expedita aliquam adipisci ipsa, eligendi. Quisquam corrupti ratione.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="imgbox">
                    <img src="assets/images/image.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="infobox">
                    <h5>Why Aurum Academy?</h5>
                    <h3>Study Less, Remember More, & Improve Test Scores</h3>
                    <p>Aurum Academy’s Confidence-Based Repetition method is proven by decades of cognitive science research into how we learn and retain information.</p>
                    <p>Aurum Academy’s Confidence-Based Repetition method is proven by decades of cognitive science research into how we learn and retain information.</p>
                    <a href="#" class="btn btn-warning">More about Aurum Academy</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="state-box">
                    <span class="state-img">
                            <img src="assets/images/icon1.png" class="img-fluid" alt="">
                        </span>
                    <div class="state-info">
                        <span>OVER 300 MILLION</span> flashcards created
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="state-box">
                    <span class="state-img">
                            <img src="assets/images/icon2.png" class="img-fluid" alt="">
                        </span>
                    <div class="state-info">
                        <span>92% OF USERS</span> report higher grades
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="state-box">
                    <span class="state-img">
                            <img src="assets/images/icon3.png" class="img-fluid" alt="">
                        </span>
                    <div class="state-info">
                        <span>THE MOST POPULAR</span> online learning tool in the US
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-popular-classes py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading text-center">
                    <h2>Most Popular Classes</h2>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Labore quibusdam esse expedita aliquam adipisci ipsa, eligendi. Quisquam corrupti ratione.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/medical-flashcard.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">Medical Flashcards</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/mcat.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">MCAT Prep</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/mbe-review.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">MBE Review</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/series-prep.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">Series 7 Prep</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/nursing-flashcard.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">Nursing Flashcards</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/gre-vocabulary.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">GRE Vocab</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/learn-spanish.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">Learn Spanish</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/law-flashcard.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">Law Flashcards</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/cpa-review.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">CPA Review</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/ap-exam.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">AP Exam Prep</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/learn-lang.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">Learn a Language</a></h4>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="class-box">
                    <span><img src="assets/images/study-geography.jpg" class="img-fluid" alt=""></span>
                    <h4><a href="#">Study Geography</a></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="#" class="btn btn-warning">Browse All Falshcards</a>
            </div>
        </div>
    </div>
</section>

<section class="section-tutorial bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="video-box">

                </div>
            </div>
            <div class="col-sm-6">
                <div class="heading">
                    <h2>Make Flashcards Online</h2>
                    <h4>Democritum inciderint nam ut, duo ne rebum tibique molestiae, mediocrem incorrupte dissentiunt has in. Vidisse gloriatur eum in, alia docendi molestie est te. Nam facer erant aeterno te, sed no utamur perfecto. <br><br>Democritum inciderint
                        nam ut, duo ne rebum tibique molestiae, mediocrem incorrupte dissentiunt has in. Vidisse gloriatur eum in, alia docendi molestie est te. Nam facer erant aeterno te, sed no utamur perfecto.</h4>
                </div>
                <a href="#" class="btn btn-warning">Create Flashcards</a>
            </div>
        </div>

    </div>
</section>

<section class="section-review py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading text-center">
                    <h2>Aurum Academy Reviews</h2>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Labore quibusdam esse expedita aliquam adipisci ipsa, eligendi. Quisquam corrupti ratione.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="review-box">
                    <div class="review-image">
                        <img src="assets/images/sophie-parker.jpg" class="img-fluid" alt="">
                    </div>
                    <h4>“ In days my Spanish has gone from elementary to conversational; incredibly in depth & easy to use. ”</h4>
                    <div class="review-by">- <span>Sophie Parker,</span> Spanish Learner -</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="review-box">
                    <div class="review-image">
                        <img src="assets/images/sophie-parker.jpg" class="img-fluid" alt="">
                    </div>
                    <h4>“ In days my Spanish has gone from elementary to conversational; incredibly in depth & easy to use. ”</h4>
                    <div class="review-by">- <span>Sophie Parker,</span> Spanish Learner -</div>
                </div>
            </div>
        </div>

    </div>
</section>





<!--
    ========================================================
                FOOTER SECTION
    ========================================================
    -->
<footer class="section section-footer">
    <div class="sitemap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <h4>Subject</h4>
                    <ul>
                        <li><a href="#">Arts and Humanities</a></li>
                        <li><a href="#">Languages</a></li>
                        <li><a href="#">Math</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Social Science</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="#">Diagrams</a></li>
                        <li><a href="#">Flashcards</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Premium Content</a></li>
                        <li><a href="#">Partnerships</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Honor Code</a></li>
                        <li><a href="#">Community Guidelines</a></li>
                        <li><a href="#">Students</a></li>
                        <li><a href="#">Teachers</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4>About</h4>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2020 Aurum Academy
                </div>
                <div class="col-sm-6">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>