<section class="main-bg" style="background-image:url(assets/images/background-main.jpg);">

<header id="header" class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="index.html">
                <span class="logo-white"><img src="assets/images/logo.png" alt="" class="img-fluid"></span>
            </a>
            <div class="ml-auto">
                <a href="#" routerLink="/logout" class="btn btn-primary">LogOut</a>
            </div>
        </div>
    </nav>
</header>
</section>