<div class="dashboard-sidebar">
    <div class="site-logo">
        <a href="#"><img src="assets/images/logo.png" class="img-fluid" alt=""></a>
    </div>
    <div class="teacher-info text-center">
        <div class="teacher-avatar">
            <img src="assets/images/user.jpg" alt="">
        </div>
        <a href="#"  (click)="editModal.show();updateUserdata();" class="btn btn-success btn-sm">Edit Profile</a>
    </div>
    <div class="dashboard-navigation">
        <div class="switch-button">
            Switch User
            <label class="switch">
                <input type="checkbox" (click)="switchuser();">
                <span class="slider round"></span>
              </label>
        </div>
        <div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">

            <div class="nav-header collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" href="#decks">
                <a class="nav-title"> <span><img src="assets/images/teacher/icon-decks.png"></span> Decks </a>
            </div>
            <div id="decks" class="nav-body collapse" data-parent="#accordion">
                <ul>
                    <li><a href="#">Lesson sub heading</a></li>
                    <li><a href="#">Lesson sub heading</a></li>
                    <li><a href="#">Lesson sub heading</a></li>
                    <li><a href="#">Lesson sub heading</a></li>
                </ul>
            </div>
            <div class="nav-header collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" href="#grades">
                <a class="nav-title"><span><img src="assets/images/teacher/icon-grades.png"></span> Grades</a>
            </div>
            <div id="grades" class="nav-body collapse" data-parent="#accordion">
                No grade here
            </div>
            <div class="nav-header collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" href="#messages">
                <a class="nav-title"><span><img src="assets/images/teacher/icon-messages.png"></span> Messages</a>
            </div>
            <div id="messages" class="nav-body collapse" data-parent="#accordion">
                No message here
            </div>
            <div class="nav-header collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" href="#courses">
                <a class="nav-title"><span><img src="assets/images/teacher/icon-courses.png"></span> Courses</a>
            </div>
            <div id="courses" class="nav-body collapse" data-parent="#accordion">
                <ul>
                    <li><a href="#">English Courses</a></li>
                    <li><a href="#">Science Courses</a></li>
                    <li><a href="#">Maths Courses</a></li>
                    <li><a href="#">Social Courses</a></li>
                </ul>
            </div>
            <div *ngIf="userType == 't'" class="nav-header collapsed"   data-parent="#accordion" aria-expanded="false" routerLink="/subaccounts">
                <a class="nav-title"><span><img src="assets/images/user-png.png"></span>SubAccount</a>
            </div>
            <div class="nav-header collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" routerLink="/logout">
                <a class="nav-title"><span><img src="assets/images/user-png.png"></span>Logout</a>
            </div>
        </div>
    </div>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header appoint-head-color">
                <h4 class="modal-title appoint-color"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update Profile</h4>
                <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">First Name</label>
                                <input class="form-control" id="name" type="text" [(ngModel)]="model.first_name" #first_name="ngModel" name="first_name" placeholder="Enter first_name">

                                <label for="name">Email</label>
                                <input class="form-control" id="name" type="text" [(ngModel)]="model.email" #email="ngModel" name="email" placeholder="Enter email">

                                <label for="name">Username</label>
                                <input class="form-control" id="name" type="text" [(ngModel)]="model.user_name" #user_name="ngModel" name="user_name" placeholder="Enter Username">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Last Name</label>
                                <input class="form-control" id="name" type="text" [(ngModel)]="model.last_name" #last_name="ngModel" name="last_name" placeholder="Enter Last Name">


                                <label for="name">BirthDate</label>
                                <input class="form-control" id="name" type="date" [(ngModel)]="model.birthdate" #birthdate="ngModel" name="birthdate" placeholder="select BirthDate">

                                <!-- <label for="name">Slug URL</label>
                                <input class="form-control" id="name" type="text" [(ngModel)]="model.url_slug" #url_slug="ngModel" name="url_slug" placeholder="Enter Slug URL"> -->

                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)=" editModal.hide()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateProfile();editModal.hide()">Save
            Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>