<section class="section-dashboard">
    <div class="row no-gutters vh-100">

        <div class="col-sm-3 bg-dark">
            <app-header></app-header>

        </div>

        <div class="col-sm-9 bg-light">
            <div class="dashboard-content">
                <!-- <div class="heading-section">
                    <h2>Math Courses</h2>
                    <div class="heading-meta">Creator : <a href="#">nick1988</a> | 20 lessions</div>
                    <div class="meta-links">
                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                </div> -->
                <div *ngIf="addsub == false">
                    <div class="info-section">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-heading">
                                    <h3>User Details</h3>
                                    <a (click)="addmodal();" class="btn btn-success float-right">+ Create New Account</a>
                                    <button id="openTypeModal" (click)="slugModal.show();" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group" *ngIf="this.currentUser.url_slug != ''">
                                            <input type="text" [(ngModel)]="url" style="width: 250px;" readonly value="Enter text to be copied" #userinput>
                                            <button (click)="copyInputMessage(userinput)" class="btn btn-primary btn-sm " value="click to copy">Copy To Clipboard</button>
                                        </div>
                                        <table class="table" [mfData]="userlist | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
                                            <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Username</th>
                                                    <th>Email</th>
                                                    <th>BirthDate</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of mf.data; let i = index">

                                                    <!-- {{item | json}} -->
                                                    <td>{{item.first_name}}</td>
                                                    <td>{{item.last_name}}</td>
                                                    <td>{{item.user_name}}</td>
                                                    <td>{{item.email}}</td>
                                                    <td>{{item.birthdate | date: "dd/MM/yyyy"}}</td>

                                                    <td align="center">
                                                        <div class="action-buttons">
                                                            <a href="#" data-toggle="modal" (click)="openRegisterModel(item);updateUserdata(); editModal.show()" class="btn btn-success"><span class="mdi mdi-lead-pencil"></span></a>
                                                            <a href="#" data-toggle="modal" (click)="openRegisterModel(item);deleteuser();" class="btn btn-danger"><span class="mdi mdi-close"></span></a>
                                                        </div>
                                                    </td>
                                                    <!-- <td>
                                                            <button type="button" (click)="editModal.show()" data-toggle="modal" data-target="#editModal" data-backdrop="static" data-keyboard="false" class="btn btn-info">
                                                                <i class="fa fa-edit"></i>
                                                              </button>
                                                        </td> -->
                                                    <!-- <td>
                                                        <a [routerLink]="[item.user_name+'/contact']">Go to details</a>
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="7">
                                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]">
                                                        </mfBootstrapPaginator>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <h3>Heading text here</h3> -->



                    </div>
                </div>

                <div *ngIf="addsub == true">
                    <div class="info-section">
                        <div class="row">
                            <div class="col-sm-12">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Enter Your First-Name</label>
                                                <input class="form-control" type="text" [(ngModel)]="model.first_name" name="first_name" #first_name="ngModel" placeholder="First Name" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Enter Your Last-Name</label>
                                                <input class="form-control" type="text" [(ngModel)]="model.last_name" name="last_name" #last_name="ngModel" placeholder="Last Name" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Enter Your Username</label>
                                                <input class="form-control" type="text" [(ngModel)]="model.user_name" name="user_name" #user_name="ngModel" placeholder="username" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Select your BirthDate</label>
                                                <input type="date" class="form-control" placeholder="birthday" name="birthdate" [(ngModel)]="model.birthdate" #birthdate="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Enter your Email</label>
                                                <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="model.email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Enter Password</label>
                                                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" id="password" #password="ngModel" minlength="8">
                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Label title here</label>
                                                <textarea class="form-control" rows="5"></textarea>
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Label title here</label>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio">Option 1
                                  </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio">Option 2
                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Label title here</label>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Option 1
                                  </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Option 2
                                  </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="" disabled>Option 3
                                  </label>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-sm-12 text-right">
                                            <button class="btn btn-success" (click)="addAccount();addsub = false;">Submit</button>
                                            <button (click)="addsub = false" class="btn btn-primary" style="margin-left: 10px;">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- <h3>Heading text here</h3> -->



                    </div>
                </div>


            </div>
        </div>

    </div>
</section>


<div bsModal #userModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header appoint-head-color">
                <h4 class="modal-title appoint-color"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Create User Account</h4>
                <button type="button" class="close" (click)="userModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <input class="form-control" type="text" [(ngModel)]="model.first_name" name="first_name" #first_name="ngModel" placeholder="First Name" />
                                <label for="name"></label>
                                <input class="form-control" type="text" [(ngModel)]="model.last_name" name="last_name" #last_name="ngModel" placeholder="Last Name" />
                                <label for="name"></label>
                                <input class="form-control" type="text" [(ngModel)]="model.user_name" name="user_name" #user_name="ngModel" placeholder="username" />
                                <label for="name"></label>
                                <label for="name"></label>
                                <input type="date" class="form-control" placeholder="birthday" name="birthdate" [(ngModel)]="model.birthdate" #birthdate="ngModel">

                                <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="model.email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" required>

                                <label for="name"></label>
                                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" id="password" #password="ngModel" minlength="8">


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)=" userModal.hide()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addAccount(); userModal.hide()">Save
             </button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- New Account Modal -->

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header appoint-head-color">
                <h4 class="modal-title appoint-color"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update User Details</h4>
                <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <input class="form-control" type="text" [(ngModel)]="model.first_name" name="first_name" #first_name="ngModel" placeholder="First Name" />
                                <label for="name"></label>
                                <input class="form-control" type="text" [(ngModel)]="model.last_name" name="last_name" #last_name="ngModel" placeholder="Last Name" />
                                <label for="name"></label>
                                <input class="form-control" type="text" [(ngModel)]="model.user_name" name="user_name" #user_name="ngModel" placeholder="username" />
                                <label for="name"></label>
                                <label for="name"></label>
                                <input type="date" class="form-control" placeholder="birthday" name="birthdate" [(ngModel)]="model.birthdate" #birthdate="ngModel">

                                <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="model.email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" required>

                                <!-- <label for="name"></label>
                                <input type="text" class="form-control" placeholder="Slug ID" name="url_slug" [(ngModel)]="model.url_slug" id="url_slug" #url_slug="ngModel" minlength="8"> -->


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)=" editModal.hide()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateUser(); editModal.hide()">Save
            Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #slugModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header appoint-head-color">
                <h4 class="modal-title appoint-color"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Enter Slug URL</h4>
                <button type="button" class="close" (click)="slugModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div class="form-group">
                                <label for="select1">Select UserTypdasdase</label>
                                <fieldset class="form-group">
                                    <ng-select name="user_type"  [(ngModel)]="userType.user_type" #user_type="ngModel" placeholder="Select user_type" [options]="type" [allowClear]="true"></ng-select>
                                </fieldset>
                            </div> -->
                            <div class="form-group">
                                <label for="name">Slug URL</label>
                                <input class="form-control" id="name" type="text" [(ngModel)]="currentUser.url_slug" #url_slug="ngModel" name="url_slug" placeholder="Enter Slug URL">

                            </div>

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)=" slugModal.hide()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateSlug();slugModal.hide()">Save</button>
                    <!-- <button type="button" (click)="updateLesson();addModel.hide()" *ngIf="lesson.id != null" class="btn btn-primary">Update
                        </button> -->
                </div>
            </div>
        </div>
    </div>
</div>